body {
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 25px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    
}

.box {

    width: 300px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}


button {
    width: 80px;
    height: 30px;
    padding: 5px 2px;
    font-weight: bold;
    background-color: bisque;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0px;
}

button:hover {
    background-color: beige;
    border: 1px solid;
    box-shadow: none;

}

.box2 {
    font-size: larger;
    text-align: center;
}

.finalMessage {
    font-weight: bolder;
}
